$basic-text-color: #000000;
$basic-header-color: #000000;
$menu-link-color: #2db475;

$text-color-grey: #808080;
$border-greey-color: #666666;
$background-light-white-color: #FCFCFC;

$buton-green-color: #2db475;
$buton-green-color-send: #2bb573;

